</body>
<script>

    const start = document.querySelector(".noteBtn")
    const formHide = document.querySelector(".formHide")

    start.addEventListener("click", () => {
        if (!formHide.classList.contains("active"))
            formHide.classList.add("active")
    })


</script>

</html>