<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" href="css/style.css">

    <title>devWithTobi Note</title>
</head>

<body>
    <div
        class="flex flex-col justify-center items-center w-screen bg-gradient-to-t from-indigo-900 via-purple-900 to-pink-900 min-h-screen text-white text-center">
        <div class="subMain w-10/12">
            <h1 class="lg:text-6xl text-5xl mb-8 font-bold letters ">Welcome<span
                    class="block lg:text-5xl text-4xl mt-4 animate-up-1">to
                    devWithTobi
                    Note</span></h1>
            <p class="mb-16 animate-up-2">You don't have to forget those little things anymore, You can pen it down</p>
            <button class="noteBtn bg-pink-500 animate-up-3"><a href="">Goto Notes</a></button>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</body>

</html>