<%- include("partials/header") %>
    <div
        class="flex flex-col justify-center items-center w-screen bg-gradient-to-t from-indigo-900 via-purple-900 to-pink-900 min-h-screen text-white text-center">
        <div class="subMain w-10/12">
            <h1 class="lg:text-6xl text-5xl mb-8 font-bold letters ">Welcome<span
                    class="lg-inline block lg:text-5xl text-4xl mt-4 animate-up-1">to
                    devWithTobi
                    Note</span></h1>
            <p class="mb-10 animate-up-2">You don't have to forget those little things anymore, You can pen it down</p>
            <button onclick="startEngine()" class="noteBtn bg-pink-500 px-8 animate-up-3 hover:bg-pink-700">Start
                Engine</button>
            <form method="post" action="/" class="formHide flex flex-col justify-center items-center mt-10">
                <input type="text" class="text-black lg:w-4/12 w-full" name="listName"
                    placeholder="Enter note name (optional)">
                <input type="text" class=" mt-2 text-black lg:w-4/12 w-full" name="userName"
                    placeholder="Enter first name" required>
                <button class=" rounded px-10 py-2 mt-2 bg-pink-500 block hover:bg-pink-700" type="submit"><a>Let's
                        Go</a></button>
            </form>
        </div>
    </div>

    <%- include("partials/footer") %>