<!-- <% if((note.length)> 0){ %>
    <% note.forEach(item=>{ %>
        <div>
            <h1>
                <%= item.title %>
            </h1>
        </div>
        <% }) %>
            <% } else { %>
                <p>No notes yet</p>
                <% } %> -->


<%- include("partials/header") %>

    <p>TEst</p>

    <%- include("partials/footer") %>