<%- include("partials/header") %>

    <div class="lg:flex w-screen gap-2 min-h-screen relative overflow-hidden">
        <div class="lg:hidden absolute px-2 z-40 top-4 ">
            <i id="bx" class='bx bx-menu border rounded p-2 text-2xl text-white font-bold'></i>
        </div>
        <div
            class="flex-left flex flex-col lg:relative absolute hide lg:left-0 -left-full pt-36 lg:pt-0 grow-0 lg:bg-transparent text-white lg:text-black bg-slate-900/[.98] h-screen">

            <div class="lg:h-32 border-b flex flex-col justify-between p-2 ">
                <p class="opacity-50">DEVWITHTOBI NOTE</p>
                <p class="justify-end">Hello <%= note.user.user %>
                </p>
            </div>
            <div class="grow-1 overflow-y-scroll h-screen">

                <h3 class="hover:bg-gray-50 hover:font-bold border-b w-full p-2">List 1 <i
                        class='text-red-600 bx bxs-trash'></i>
                </h3>
            </div>
            <form class="flex w-full mt-12 pb-4 ">
                <input class="grow addlistInput bg-transparent mr-2" type="text" placeholder="Add new list">
                <button
                    class="rounded-full px-10 py-1 mt-2 bg-slate-700 block hover:bg-slate-900 block text-white font-bold"
                    type="submit">+</button>
            </form>
        </div>
        <div class="flex-right flex flex-col grow-1 max-h-screen">
            <div class="list-head lg:h-46 h-80 grow-0 ">

                <div class="shader flex flex-col item-end justify-end px-6 py-4">
                    <h3 class="font-bold text-4xl mb-4">
                        <%= note.name %>

                    </h3>
                    <p>Notes for Today</p>
                </div>

            </div>
            <div class="flex flex-col grow-1 h-screen overflow-y-scroll">
                <h3 class="hover:bg-gray-50 hover:font-bold border-b w-full p-2">NOTE 1</h3>
                <h3 class="hover:bg-gray-50 hover:font-bold border-b w-full p-2">NOTE 1</h3>
                <h3 class="hover:bg-gray-50 hover:font-bold border-b w-full p-2">NOTE 1</h3>
                <h3 class="hover:bg-gray-50 hover:font-bold border-b w-full p-2">NOTE 1</h3>
                <h3 class="hover:bg-gray-50 hover:font-bold border-b w-full p-2">NOTE 1</h3>
                <h3 class="hover:bg-gray-50 hover:font-bold border-b w-full p-2">NOTE 1</h3>
                <h3 class="hover:bg-gray-50 hover:font-bold border-b w-full p-2">NOTE 1</h3>
                <h3 class="hover:bg-gray-50 hover:font-bold border-b w-full p-2">NOTE 1</h3>
                <h3 class="hover:bg-gray-50 hover:font-bold border-b w-full p-2">NOTE 1</h3>
                <h3 class="hover:bg-gray-50 hover:font-bold border-b w-full p-2">NOTE 1</h3>

            </div>
            <form class="flex w-full mt-12 flex-col grow-0 px-8 pb-4">
                <input class="grow addlistInput bg-transparent mr-2" type="text" placeholder="Add New Note">
                <button class="rounded-full px-10 py-1 mt-2 bg-slate-700 block hover:bg-slate-900 text-white font-bold"
                    type="submit">+</button>
            </form>
        </div>
    </div>

    <%- include("partials/footer") %>